@(weatherAggs : Seq[models.WeatherAggregate], fromDate: Option[String], toDate: Option[String])

@ifDateRange = {
    @if(fromDate != None) { (@fromDate - @toDate) } else { }
}


<div class="weatherAggregate-display" >
    <fieldset>
        <legend align="center"><h3>Weather Aggregate @ifDateRange</h3></legend>
        <table cellspacing="20">
            <tr>
                <th>RstId</th>
                <th>TotalSnowfall</th>
                <th>AvgSnowfall</th>
                <th>MinSnowfall</th>
                <th>MaxSnowfall</th>
            </tr>
            @for(wAggs <- weatherAggs){
            <tr>
                <td>@wAggs.idAsString</td>
                <td>@wAggs.totalSnowfall</td>
                <td>@wAggs.avgSnowfall</td>
                <td>@wAggs.minSnowfall</td>
                <td>@wAggs.maxSnowfall</td>
            </tr>
            }
        </table>
    </fieldset>
</div>