@import helper._

@(collName: String, queryType: String)(thisForm: Form[models.db.OurMongo], oId: Option[reactivemongo.bson.BSONObjectID])(oOptsMap: Option[Map[String, Seq[(String, String)]]] = None)(activeTabIdx: Int, oTabNames: Option[Seq[String]])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@getFormTabList = @{
    List(formFields.tab1(queryType, thisForm, oOptsMap), formFields.tab2(queryType, thisForm, oOptsMap), formFields.tab3(queryType, thisForm))
}

@views.html.generic.navTabs(oTabNames, activeTabIdx)

@views.html.db.inputForm(collName, queryType)(oId, oOptsMap)(getFormTabList, activeTabIdx)